@-webkit-keyframes slideDown {
	from {
		top: -50%;
	}
	to {
		top: 50%;
	}
}

@keyframes slideDown {
	from {
		top: -50%;
	}
	to {
		top: 50%;
	}
}

@-webkit-keyframes slideUp {
	from {
		top: 50%;
	}
	to {
		top: -50%;
	}
}

@keyframes slideUp {
	from {
		top: 50%;
	}
	to {
		top: -50%;
	}
}

.modal {
	display: -ms-grid;
	display: grid;
	-ms-grid-columns: 1fr;
	grid-template-columns: 1fr;
	-ms-grid-rows: 0.5fr 1.5fr;
	grid-template-rows: 0.5fr 1.5fr;
	    grid-template-areas:
		'h1'
		'gamers';
	-webkit-animation: slideDown 0.6s ease 0s 1 normal running;
	animation: slideDown 0.6s ease 0s 1 normal running;
	position: absolute;
	-webkit-transform: translate(-50%, -50%);
	-ms-transform: translate(-50%, -50%);
	transform: translate(-50%, -50%);
	background-color: var(--theme);
	-webkit-border-radius: 20px;
	border-radius: 20px;
	-webkit-box-shadow: 0px 11px 15px -7px rgba(0, 0, 0, 0.2),
		0px 24px 38px 3px rgba(0, 0, 0, 0.14), 0px 9px 46px 8px rgba(0, 0, 0, 0.12);
	box-shadow: 0px 11px 15px -7px rgba(0, 0, 0, 0.2),
		0px 24px 38px 3px rgba(0, 0, 0, 0.14), 0px 9px 46px 8px rgba(0, 0, 0, 0.12);
}

.modal h1 {
	-ms-grid-row: 1;
	-ms-grid-column: 1;
	grid-area: h1;
	-ms-grid-column-align: center;
	    justify-self: center;
	-ms-grid-row-align: center;
	    align-self: center;
}

.close {
	-webkit-animation: slideUp 0.5s ease-in forwards;
	animation: slideUp 0.5s ease-in forwards;
}

.box {
	-ms-grid-row: 2;
	-ms-grid-column: 1;
	display: -ms-grid;
	display: grid;
	-ms-grid-columns: 1fr 1fr;
	grid-template-columns: 1fr 1fr;
	/* grid-template-rows: 0.5fr 1.5fr; */
	    grid-template-areas:
		'userName computerName'
		'userChoice computerChoice';
	grid-area: gamers;
}

.userName {
	-ms-grid-row: 1;
	-ms-grid-column: 1;
	-ms-grid-column-align: center;
	    justify-self: center;
	-ms-grid-row-align: center;
	    align-self: center;
	grid-area: userName;
}

.computerName {
	-ms-grid-row: 1;
	-ms-grid-column: 2;
	-ms-grid-column-align: center;
	    justify-self: center;
	-ms-grid-row-align: center;
	    align-self: center;
	grid-area: computerName;
}

.userChoice {
	-ms-grid-row: 2;
	-ms-grid-column: 1;
	-ms-grid-column-align: center;
	    justify-self: center;
	-ms-grid-row-align: center;
	    align-self: center;
	grid-area: userChoice;
}
.computerChoice {
	-ms-grid-row: 2;
	-ms-grid-column: 2;
	-ms-grid-column-align: center;
	    justify-self: center;
	-ms-grid-row-align: center;
	    align-self: center;
	grid-area: computerChoice;
}

/*------------------------------------ 319.98px ---------------------*/
@media (min-width: 319.98px) {
	.modal {
		width: 90vw;
		height: 20rem;
		max-width: 18rem;
		top: 50%;
		left: 50%;
		right: 50%;
		bottom: 50%;
		padding: 1rem;
		gap: 0.5rem 0;
	}
	html[lang='ru'] .modal h1 {
		font-size: 2.2rem;
	}
	.modal h1 {
		font-size: 2.7rem;
	}
	.box {
		gap: 0.7rem;
	}
	.box p {
		font-size: 1.8rem;
	}
}

/*------------------------------------ 359.98px ---------------------*/
@media (min-width: 359.98px) {
	.modal {
		width: 90vw;
		height: 22rem;
		max-width: 24rem;
	}
	html[lang='ru'] .modal h1 {
		font-size: 2.2rem;
	}
	.box p {
		font-size: 2.2rem;
	}
}

/*------------------------------------ 427.98px ---------------------*/
@media (min-width: 427.98px) {
	.modal {
		width: 90vw;
		height: 24rem;
		max-width: 30rem;
		padding: 1rem;
	}
	html[lang='ru'] .modal h1 {
		font-size: 2.6rem;
	}
	.box {
		gap: 1rem;
	}
}

/*------------------------------------ 767.98px ---------------------*/
@media (min-width: 767.98px) {
	.modal {
		width: 70vw;
		height: 26rem;
		max-width: 34rem;
		gap: 1.3rem 0;
	}
	.modal h1 {
		font-size: 3.5rem;
	}
	.box {
		gap: 1.2rem 2rem;
	}
	.box p {
		font-size: 2.4rem;
	}
}

/*------------------------------------ 1199.98px ---------------------*/
@media (min-width: 1199.98px) {
	.modal {
		width: 49vw;
		height: 28rem;
		max-width: 39rem;
		padding: 2rem;
		gap: 1rem 0;
	}
	html[lang='ru'] .modal h1 {
		font-size: 3.5rem;
	}
	.modal h1 {
		font-size: 4rem;
	}
	.box {
		gap: 1.2rem 2rem;
	}
	.box p {
		font-size: 2.7rem;
	}
	.box img {
		width: 85%;
	}
}