@import '../../../../../styles/mixins.scss';

@keyframes slideDown {
	from {
		top: -50%;
	}
	to {
		top: 50%;
	}
}

@keyframes slideUp {
	from {
		top: 50%;
	}
	to {
		top: -50%;
	}
}

.overlay {
	@include overlay;

	.modal {
		width: 90vw;
		height: 22rem;
		max-width: 24rem;
		top: 50%;
		left: 50%;
		right: 50%;
		bottom: 50%;
		padding: 1rem;
		display: grid;
		grid-template-columns: 1fr;
		grid-template-rows: 0.5fr 1.5fr;
		grid-template-areas:
			'h1'
			'gamers';
		animation: slideDown 0.6s ease 0s 1 normal running;
		position: absolute;
		transform: translate(-50%, -50%);
		background-color: var(--theme);
		border-radius: 20px;
		box-shadow: 0px 11px 15px -7px rgba(0, 0, 0, 0.2),
			0px 24px 38px 3px rgba(0, 0, 0, 0.14),
			0px 9px 46px 8px rgba(0, 0, 0, 0.12);

		html[lang='ru'] h1 {
			font-size: 2.2rem;
		}
		h1 {
			grid-area: h1;
			font-size: 2.7rem;
			justify-self: center;
			align-self: center;
		}
		.box {
			display: grid;
			grid-template-columns: 1fr 1fr;
			grid-template-areas:
				'userName computerName'
				'userChoice computerChoice';
			grid-area: gamers;
			gap: 0.7rem;

			p {
				font-size: 2.2rem;
			}
			.userName {
				justify-self: center;
				align-self: center;
				grid-area: userName;
			}
			.userChoice {
				justify-self: center;
				align-self: center;
				grid-area: userChoice;
			}
			.computerName {
				justify-self: center;
				align-self: center;
				grid-area: computerName;
			}

			.computerChoice {
				justify-self: center;
				align-self: center;
				grid-area: computerChoice;
			}
		}
	}

	.close {
		animation: slideUp 0.5s ease-in forwards;
	}
}

@media (min-width: 576px) {
	.overlay {
		.modal {
			height: 24rem;
			max-width: 30rem;

			html[lang='ru'] h1 {
				font-size: 2.6rem;
			}
			.box {
				gap: 1rem;
			}
		}
	}
}

@media (min-width: 768px) {
	.overlay {
		.modal {
			width: 70vw;
			height: 26rem;
			max-width: 34rem;
			gap: 1.3rem 0;

			h1 {
				font-size: 3.5rem;
			}
			.box {
				gap: 1.2rem 2rem;

				p {
					font-size: 2.4rem;
				}
			}
		}
	}
}

@media (min-width: 1200px) {
	.overlay {
		.modal {
			width: 49vw;
			height: 28rem;
			max-width: 39rem;
			padding: 2rem;

			html[lang='ru'] h1 {
				font-size: 3.5rem;
			}
			h1 {
				font-size: 4rem;
			}
			.box {
				gap: 1.2rem 2rem;

				p {
					font-size: 2.7rem;
				}
				img {
					width: 85%;
				}
			}
		}
	}
}
