.container {
	width: 100%;
	max-width: 34rem;
	padding: 0 1.25rem;
	height: 100vh;
	display: grid;
	grid-template-rows: auto 1fr;
	justify-items: center;
}

@media (min-width: 576px) {
	.container {
		padding: 0 1.25rem;
	}
}
@media (min-width: 768px) {
	.container {
		width: 90vw;
		max-width: 46.9rem;
	}
}
@media (min-width: 992px) {
	.container {
		max-width: 49.4rem;
	}
}
@media (min-width: 1200px) {
	.container {
		max-width: 53.1rem;
	}
}
@media (min-width: 1400px) {
	.container {
		max-width: 56.9rem;
	}
}