@-webkit-keyframes show-up {
	from,
	0% {
		opacity: 0;
	}
	to,
	100% {
		opacity: 1;
	}
}

@keyframes show-up {
	from,
	0% {
		opacity: 0;
	}
	to,
	100% {
		opacity: 1;
	}
}

@media (min-width: 320px) {
	.buttons {
		-webkit-box-pack: end;
		-webkit-justify-content: end;
		-ms-flex-pack: end;
		justify-content: end;
		padding: 0.4rem 0.1rem;
	}
	html[lang='ru'] .header > h1 {
		font-size: 1.82rem;
	}
	.header > h1 {
		-webkit-animation: show-up 1s ease-in-out;
		animation: show-up 1s ease-in-out;
		font-size: 2.4rem;
		line-height: 0.75;
	}
}

@media (min-width: 360px) {
	.header {
		width: 100%;
	}
	.buttons {
		padding: 0.8rem 0 1rem;
	}
	html[lang='ru'] .header > h1 {
		font-size: 2.1rem;
	}
	.header > h1 {
		font-size: 2.6rem;
		/* margin-top: 1rem; */
	}
}

@media (min-width: 428px) {
	html[lang='ru'] .header > h1 {
		font-size: 2.39rem;
	}
	.header > h1 {
		font-size: 2.95rem;
	}
}

@media (min-width: 768px) {
	html[lang='ru'] .header > h1 {
		font-size: 3.7rem;
	}
	.header > h1 {
		font-size: 4rem;
	}
}
