.wrapper {
	width: 100%;
	display: grid;
	grid-template-columns: 1fr;
	grid-template-rows: 0.8fr 1fr;
	grid-template-areas:
		'Score . .'
		'Hands Hands Hands';
}

@media (min-width: 768px) {
	.wrapper {
		grid-template-rows: 0.7fr 1fr;
	}
}

@media (min-width: 1200px) {
	.wrapper {
		grid-template-rows: 0.5fr 1fr;
	}
}