@-webkit-keyframes animation {
	from {
		-webkit-transform: translateY(-50%);
		transform: translateY(-50%);
	}
	to {
		-webkit-transform: translateY(0);
		transform: translateY(0);
	}
}

@keyframes animation {
	from {
		-webkit-transform: translateY(-50%);
		transform: translateY(-50%);
	}
	to {
		-webkit-transform: translateY(0);
		transform: translateY(0);
	}
}

.wrapper {
	animation: animation 0.4s ease-out;
	-webkit-animation: animation 0.4s ease-out;
}

.handle {
	margin-top: 1rem;
	font-size: 1.3rem;
}

.handle p {
	text-transform: none;
}

.handle button {
	font-size: 1.4rem;
	text-decoration: underline;
	text-transform: uppercase;
}

.divider {
	margin: 0 2rem;
}
.bar {
	background-color: var(--text-color);
	width: 0.25rem;
	height: 50%;
}
.divider span {
	font-size: 1.5rem;
	padding: 1rem;
}

@media (min-width: 320px) {
	.auth {
		margin-top: 0.8rem;
	}
	.mobileView {
		margin-top: 0.6rem;
	}
	.handle {
		margin-top: 0.6rem;
	}
	.handle > button {
		margin-top: 0.15rem;
	}
}

@media (min-width: 360px) {
	.auth {
		margin-top: 1.5rem;
	}
	.handle {
		margin-top: 1.3rem;
	}
}

@media (min-width: 428px) {
	.handle {
		margin-top: 1.5rem;
		font-size: 1.4rem;
	}
	.handle > button {
		font-size: 1.5rem;
	}
}

@media (min-width: 768px) {
	.handle {
		margin-top: 1.5rem;
		font-size: 1.5rem;
	}
	.handle > button {
		font-size: 1.6rem;
	}
}
