@import '../../../styles/mixins.scss';

.formContainer {
	@include flex-all-center-column;
	height: 80vh;
	min-height: 15.5rem;

	h2 {
		margin-bottom: 1.6rem;
		font-size: 2.2rem;
	}
	.form {
		@include flex-vertical-center-column;
		font-size: 1.875rem;
	}
	.btn {
		@include border;
		@include button;
		width: 12rem;
		margin-top: 0.7rem;

		&:hover {
			@include button-hover;
		}
	}
}

@media (min-width: 576px) {
	.formContainer {
		h1 {
			margin-bottom: 3rem;
			font-size: 2.5rem;
		}
		.btn {
			height: 3rem;
		}
	}
}

@media (min-width: 768px) {
	.formContainer {
		.btn {
			height: 3.2rem;
			width: 12rem;
		}
	}
}
