@media (min-width: 320px) {
	.wrapper {
		height: 80vh;
		min-height: 15.5rem;
	}
	.wrapper h1 {
		margin-bottom: 1.5rem;
		font-size: 2rem;
	}
	.form {
		font-size: 1.875rem;
	}
	.btn {
		width: 10.5rem;
		height: 2.6rem;
		margin-top: 0.7rem;
	}
}

@media (min-width: 360px) {
	.wrapper h1 {
		font-size: 2.2rem;
	}
	.btn {
		height: 3.2rem;
		font-size: 1.55rem;
	}
}

@media (min-width: 428px) {
	.wrapper h1 {
		margin-bottom: 3rem;
		font-size: 2.5rem;
	}
	.btn {
		height: 3rem;
	}
}

@media (min-width: 768px) {
	.btn {
		height: 3.2rem;
	}
}
