
/*------------------------------------ 319.98px ---------------------*/
@media (min-width: 319.98px) {
	.wrapper {
		height: 80vh;
		min-height: 15.5rem;
	}
	.wrapper h1 {
		margin-bottom: 1.5rem;
		font-size: 2rem;
	}
	.form {
		font-size: 1.875rem;
	}
	.btn {
		width: 10.5rem;
		height: 2.6rem;
		margin-top: 0.7rem;
	}
}

/*------------------------------------ 359.98px ---------------------*/
@media (min-width: 359.98px) {
	.wrapper h1 {
		font-size: 2.2rem;
	}
	.btn {
		height: 3.2rem;
		font-size: 1.55rem;
	}
}

/*------------------------------------ 427.98px ---------------------*/
@media (min-width: 427.98px) {
	.wrapper h1 {
		margin-bottom: 3rem;
		font-size: 2.5rem;
	}
	.btn {
		height: 3rem;
	}
}

/*------------------------------------ 767.98px ---------------------*/
@media (min-width: 767.98px) {
	.btn {
		height: 3.2rem;
	}
}