@media (min-width: 320px) {
	html[lang='ru'] .score {
		width: 7.5rem;
	}
	.score {
		width: 6.5rem;
		margin-left: 0.3rem;
		grid-area: Score;
		-ms-grid-row-align: center;
		align-self: center;
	}
	.title {
		font-size: 1.9rem;
	}
	.quantity {
		font-size: 1.4rem;
	}
	.gamer {
		margin-right: 0.2rem;
	}
	.quantity span {
		text-align: end;
		width: 1.8rem;
	}
	.reset {
		width: 100%;
		margin-top: 0.5rem;
	}
}

@media (min-width: 360px) {
	html[lang='ru'] .score {
		width: 7.8rem;
	}
	.score {
		width: 7rem;
	}
	.title {
		font-size: 2.1rem;
	}
	.quantity {
		font-size: 1.5rem;
	}
}

@media (min-width: 428px) {
	.title {
		font-size: 2rem;
	}
	.quantity {
		font-size: 1.5rem;
	}
}

@media (min-width: 768px) {
	html[lang='ru'] .score {
		width: 10.6rem;
	}
	.score {
		width: 9.5rem;
	}
	.title {
		font-size: 2.6rem;
	}
	.quantity {
		font-size: 2rem;
	}
	.quantity span {
		width: 2.2rem;
	}
}

@media (min-width: 1200px) {
	.score {
		margin: 2.7rem 0 0 0.4rem;
	}
}

@media (min-width: 1400px) {
	.score {
		margin: 2rem 0 0 0.4rem;
	}
}
