@import '../../../../../styles/mixins.scss';

html[lang='ru'] .score {
	width: 7.8rem;
}

.score {
	width: 7rem;
	grid-area: Score;
	align-self: center;

	.title {
		font-size: 2.1rem;
	}

	.quantity {
		@include flex-space-between;

		& {
			font-size: 1.5rem;
		}

		.gamer {
			margin-right: 0.2rem;
		}
		span {
			text-align: end;
			width: 1.8rem;
		}
	}
	.reset {
		@include button;
		@include border;

		& {
			width: 100%;
			margin-top: 0.5rem;
		}

		&:hover {
			@include button-hover;
		}
	}
}

@media (min-width: 576px) {
	.score {
		.title {
			font-size: 2rem;
		}
		.quantity {
			font-size: 1.5rem;
		}
	}
}

@media (min-width: 768px) {
	html[lang='ru'] .score {
		width: 10.6rem;
	}

	.score {
		width: 9.5rem;

		.title {
			font-size: 2.6rem;
		}
		.quantity {
			font-size: 2rem;
		}
	}
}

@media (min-width: 1200px) {
	.score {
		margin: 2.7rem 0 0 0.4rem;
	}
}

@media (min-width: 1400px) {
	.score {
		margin: 2rem 0 0 0.4rem;
	}
}
