.container {
	background-color: var(--theme);
	z-index: 99999;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	position: absolute;
}

.loading {
	position: fixed;
	top: 40%;
	left: 50%;
	-webkit-transform: translateX(-50%);
	-ms-transform: translateX(-50%);
	transform: translateX(-50%);
	letter-spacing: 0.125rem;
	font-size: 2.8rem;
}

@media (min-width: 320px) {
	.loading {
		font-size: 2rem;
	}
}

@media (min-width: 428px) {
	.loading {
		font-size: 2.5rem;
	}
}

@media (min-width: 992px) {
	.loading {
		font-size: 3.5rem;
	}
}
