@media (min-width: 320px) {
	.theme svg {
		width: 1.875rem;
		height: 1.875rem;
		-webkit-transition: 0.3s ease;
		-o-transition: 0.3s ease;
		transition: 0.3s ease;
		-webkit-border-radius: 1rem;
		border-radius: 1rem;
	}
	.light:hover {
		background-color: var(--light-theme-button-hover);
		-webkit-box-shadow: 0 0 0.27rem 0.2rem var(--light-theme-button-hover);
		box-shadow: 0 0 0.27rem 0.2rem var(--light-theme-button-hover);
	}
	.dark:hover {
		background-color: var(--dark-theme-button-hover);
		-webkit-box-shadow: 0 0 0.27rem 0.2rem #a8a8a8a1;
		box-shadow: 0 0 0.27rem 0.2rem #a8a8a8a1;
	}
}
