.name {
	margin-top: 1rem;
	text-align: center;
	text-transform: uppercase;
}

/*------------------------------------ 319.98px ---------------------*/
@media (min-width: 319.98px) {
	.name {
		font-size: 1.8rem;
	}
}

/*------------------------------------- 427.98px ---------------------*/
@media (min-width: 427.98px) {
	html[lang='ru'] .name {
		font-size: 2.1rem;
	}
	.name {
		font-size: 2.5rem;
	}
}

/*------------------------------------- 767.98px ---------------------*/
@media (min-width: 767.98px) {
	html[lang='ru'] .name {
		font-size: 2.6rem;
	}
	.name {
		font-size: 3rem;
	}
}
