.hands h2 {
	text-align: center;
}

.hands ul li {
	transition: transform 0.2s;
}

@media (min-width: 320px) {
	.hands {
		align-self: center;
		grid-area: Hands;
		cursor: pointer;
	}
	.hands h2 {
		margin-bottom: 0.5rem;
		font-size: 1.4rem;
	}
}

@media (min-width: 360px) {
	.hands h2 {
		margin-bottom: 1rem;
		font-size: 1.5rem;
	}
}

@media (min-width: 428px) {
	.hands h2 {
		margin-bottom: 1.3rem;
		font-size: 1.7rem;
	}
	.hands ul {
		gap: 0.8rem;
	}
}

@media (min-width: 768px) {
	.hands ul {
		gap: 1.5rem;
	}
}

@media (min-width: 992px) {
	.hands ul li:hover {
		transform: scale(1.1);
		z-index: 1;
	}
}

@media (min-width: 1200px) {
	.hands h2 {
		margin-bottom: 1rem;
		font-size: 2rem;
	}
}
