/*----------------- 319.98px  -------------------*/
.btn {
	@media (min-width: 319.98px) {
		width: 5rem;
	}
}

/*----------------- 427.98px  ---------------------*/
@media (min-width: 427.98px) {
	.btn {
		width: 5.5rem;
	}
}

/*----------------- 575.98px  ---------------------*/
@media (min-width: 575.98px) {
	.btn {
		width: 6rem;
	}
}

/*----------------- 767.98px  ---------------------*/
@media (min-width: 767.98px) {
	.btn {
		width: 6.8rem;
	}
}

/*----------------- 991.98px  ---------------------*/
@media (min-width: 991.98px) {
	.btn {
		width: 7.3rem;
	}
}