.btn {
	@media (min-width: 320px) {
		padding: 0 0.5rem;
	}
}

@media (min-width: 360px) {
	.btn {
		padding: 0 0.8rem;
	}
}

@media (min-width: 428px) {
	.btn {
		padding: 0 0.9rem;
	}
}

@media (min-width: 768px) {
	.btn {
		padding: 0 1.2rem;
	}
}
