/*----------------- 319.98px  -------------------*/
.btn {
	@media (min-width: 319.98px) {
		padding: 0 0.5rem;
	}
}

/*----------------- 359.98  ---------------------*/
@media (min-width: 359.98px) {
	.btn {
		padding: 0 0.8rem;
	}
}

/*----------------- 427.98px  ---------------------*/
@media (min-width: 427.98px) {
	.btn {
		padding: 0 0.9rem;
	}
}

/*----------------- 767.98px  ---------------------*/
@media (min-width: 767.98px) {
	.btn {
		padding: 0 1.2rem;
	}
}